certifi==2020.6.20
click==7.1.2
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.19.2
Pillow==8.0.0
pydicom==2.0.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.4
python-dateutil==2.8.1
python-dotenv==0.14.0
six==1.15.0
